/*
Boiler Plate code
*/

* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    overflow-x: hidden;
    height: auto;
    width: 100%;
}

.customPhoto {
    width: 120px;
}

body {
    background-color: #118AB2;  
}


/*
Setting up Grid
*/

#grid {
    display: grid;
}

.flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;    
}

.navFlex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.dayDisplay {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}



#tempWidget {
    display: flex;
    flex-flow: column;
}

#headerWidgets {
    display: flex;
}

