
/*
spacing out section 
*/

section {
    margin-top: 4%;
}

/*
Styling section for each day's list
*/
.dayDisplay {
    background-color: white;
    border-radius: 40px 40px 0 0;
    width: 25%;
    height: 631px;
}

/*
Styles date on site
*/
.date {
    align-self: center;
    text-align: center;
    position: relative;
    bottom: 18px;
    font-family: sspsemibold;
    width: 40%;
    padding: 10px 0 10px 0;
    background-color: #06D6A0;
    border-radius: 40px;
    color: white;
}

/*
Sizes buttons
*/
section img {
    margin-top: 10%;
    height: 100px;
}

/*
centers and sizes actual list of todo items
*/
.itemList {
    align-self: center;
    width: 80%;
}

/*
Styles border for items in list
*/
.listItemBorder {
    border: 2px solid #118AB2;
    border-radius: 30px 30px 30px 30px;
    margin-top: 5%;
    padding: 10px 0 10px 0;
}

/*
Styles radio
*/
.radio {
    margin: 0 30px 0 30px;
    position: relative;
    top: .3vh;
    width: 2vh;
    height: 2vh;
}

/*
Edits fonts on item
*/
.item {
    font-family: ssplight;
    font-size: 2.5vh;
}

